YOUTUBE_API_KEY=your_youtube_api_key_here

RAW_BUCKET_NAME=youtube-kenya-analytics
RAW_STORAGE_BACKEND=local

RAW_LOCAL_DIR=data/raw

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=youtube_analytics
POSTGRES_USER=youtube_user
POSTGRES_PASSWORD=youtube_password

AIRFLOW_UID=50000
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_FERNET_KEY=generate_a_stable_fernet_key
AIRFLOW_API_SECRET_KEY=generate_a_stable_api_secret_key
AIRFLOW_API_AUTH_JWT_SECRET=generate_a_stable_jwt_secret

YOUTUBE_PIPELINE_PROJECT_ROOT=/opt/airflow/project
YOUTUBE_PIPELINE_PYTHON_BIN=python
YOUTUBE_PIPELINE_DBT_BIN=dbt
YOUTUBE_PIPELINE_DBT_PROFILES_DIR=/opt/airflow/project/dbt_youtube_analytics
YOUTUBE_PIPELINE_USE_EXISTING_RAW=true
YOUTUBE_PIPELINE_SNAPSHOT_DATE=
