YOUTUBE_API_KEY=your_youtube_api_key_here

RAW_BUCKET_NAME=youtube-kenya-analytics
RAW_STORAGE_BACKEND=local

RAW_LOCAL_DIR=data/raw

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=youtube_analytics
POSTGRES_USER=youtube_user
POSTGRES_PASSWORD=youtube_password